body {
    display: flex;
    justify-content: center;
    background-color: azure;
    margin-top: 50px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border: 2px solid gray;
    width: 350px;
    height: 400px;

    border-radius: 15px;
    box-shadow: 3px 5px 3px rgb(47, 50, 50);
}

#tempInput {
    margin: 25px;
    padding: 5px;
    width: 280px;
    height: 30px;
    border-radius: 5px;

}

#tempOutput {
    text-align: center;
}

.radio-btns {

    text-align: center;
}

.main-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;

}

#clearBtn {
    height: 35px;
    order: 2;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
}

#convertBtn {
    height: 35px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 20px;

}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}