@import "~bootstrap/scss/bootstrap";


body {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    margin-top: 15%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border: 2px solid gray;
    width: 350px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 6px 0px #49545d, 10px 18px 15px rgba(0,0,0,.4);
    background-color: rgb(251, 247, 255);
}

#tempInput {
    margin: 25px;
    padding: 5px;
    width: 220px;
    height: 60px;
    border-radius: .3rem;
    font-size: 1.25rem;
    text-align: center;
    position: relative;
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
}

#tempOutput {
    text-align: center;
}

.radio-btns {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    color: #495057;
    background-color: #e9ecef;
}

.main-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;

}

#clearBtn {
    height: 35px;
    order: 2;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    background-color: #6c757d;
    color: white;   
}

#convertBtn {
    height: 35px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}